name: cralwer

on:
  push:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install python-dateutil    
    - name: test
      env:
        telegram_token: ${{ secrets.TELEGRAMTOKEN }}
      run: |
        python flight_hiair_monday.py
        python flight_hiair_thursday.py
