name: cralwer

on:  
  push:
  pull_request:
  schedule:
    - cron: '40 0,12 * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install python-dateutil    
    - name: test1
      env:
        telegram_token: ${{ secrets.TELEGRAMTOKEN }}
      run: |
        python flight.py
